# Ignore vendor directory
/vendor

# Ignore node_modules directory
/node_modules

# Ignore compiled assets
/public/css
/public/js

# Ignore log files
/storage/*.log

# Ignore environment file
.env

# Ignore user-specific PHPStorm files
.phpstorm.meta.php
/.phpstorm.meta.php

# Ignore IDE files
.idea/
.vscode/
